<footer class="indigo lighten-2" >
    <div class="container">
      <div class="row">
        <div class="col l6 s12" align="right" >
          <h5 class="white-text" size="">Rol</h5>
          <p class="grey-text text-lighten-4">Líder del Grupo:</p>
          <p class="grey-text text-lighten-4">Desarrollador de Software:</p>
          <p class="grey-text text-lighten-4">Administrador de Configuración:</p>
          <p class="grey-text text-lighten-4">Diseñador UI:</p>
          <p class="grey-text text-lighten-4">Tester:</p>
        </div>
        <div class="col l4 s12" align="left">
          <h5 class="white-text">Integrantes de La Casa Beta</h5>
            <p class="grey-text text-lighten-3">Julián Santiago Amado Guacheta</p>
            <p class="grey-text text-lighten-3">Neyla Rocío Villamizar Macías</p>
            <p class="grey-text text-lighten-3">Andrea Paola Piedrahita Quintero</p>
            <p class="grey-text text-lighten-3">Juan Pablo Valencia Chávez</p>
            <p class="grey-text text-lighten-3">Jose Alexander Melo Cardozo</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
         
        <p class="grey-text text-lighten-4 right">© La Casa Beta - 2021</p>
      </div>
    </div>
  </footer>